@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #fdfdfd;
  margin: 50px;
}
.meme {
  background-color: #121212;
  max-width: 500px;
  border-radius: 8px;
  padding: 10px;
}

.upload {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.eachMemeTemplate {
  display: flex;
  flex-direction: column;
}

label,
button,
input {
  margin: 8px;
}

input,
select,
p {
  background-color: #232323;
  color: #cacaca;
  border: none;
  border-radius: 5px;
  height: 30px;
  caret-color: #cacaca;
  padding: 5px 10px;
}

select {
  margin: 5px;
}
input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 5px;
  height: 30px;
}
.uploadButton {
  background-color: #5ba6c4;
}
.deleteButton {
  background-color: #cc4c4c;
  color: #dddddd;
}

.chooseFile {
  background-color: #121212;
}

.eachMemeTemplate {
  margin: 20px;
}

.allMemesTemplate {
  display: grid;
  gap: 1 rem;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
}

img {
  max-width: 400px;
}
